<a href="https://colab.research.google.com/github/AllieUbisse/COVID-19-EDA-challenge/blob/master/notebooks/Covid19_EDA_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# API starter:

Welcome to the COVID-19 challenge! Flex your amazing python and pandas skills to build an informative analysis. 

Use this notebook to connect to the COVID-19 database for access to our datasources.

Use [these API's](https://ijvcpr9af1.execute-api.eu-west-1.amazonaws.com/api/) to access the data.

<br>
<br>

# **Imports**

In [0]:
# Data manipulation imports
import pandas as pd 
import requests

#  Data Visualization


# Extas

# **Loading Data** 

## Build a dataframe using the following code:

```url = "INSERT API URL"``` <br>
```headers = {'x-api-key': "INSERT API KEY HERE"}```<br>
```response = requests.request("GET", url, headers=headers)```<br>
```x = response.json()```<br>
```df = pd.DataFrame(x)```

## **Call the following function to read the data To a Dataframe**


```
load_covid19(url, API_KEY)
```


<br>
<br>

In [0]:
# CONSTANTS
API_KEY = 'WVllUkRA01awNNgKxGg607vl5qIvuOAN3pW9HXmD'

# API URLs
url_CasesGlobalView = 'https://9gnht4xyvf.execute-api.eu-west-1.amazonaws.com/api/get_table/CasesGlobalView'
url_CasesLocalView  = 'https://9gnht4xyvf.execute-api.eu-west-1.amazonaws.com/api/get_table/CasesLocalView'
ulr_CounterMeasureView = 'https://9gnht4xyvf.execute-api.eu-west-1.amazonaws.com/api/get_table/CounterMeasureView'

In [0]:
def load_covid19(url, API_KEY = 'WVllUkRA01awNNgKxGg607vl5qIvuOAN3pW9HXmD' ):
  """load_covid19(url)

  DESCRIPTION:
        The function reads in an API URL for COVID-19 Data and returns a pandas DataFrame.

  PARAMETERS:
        url (string): API URL.

  RETURNS:
      (DataFrame): Data in a form of a pandas dataframe.
  
  """

  headers = {
    'x-api-key': API_KEY
    }
  response = requests.request("GET", url, headers=headers)
  x = response.json()

  return pd.DataFrame(x)

In [0]:
# Reading Data to DataFrames
globa_view = load_covid19(url_CasesGlobalView)
local_view = load_covid19(url_CasesLocalView)
counterMeasure_view = load_covid19(ulr_CounterMeasureView)

# **Quick Descriptive Analysis**

## **CasesGlobalView**

In [0]:
# view 5 samples of the data
globa_view.sample(5)

            date  ... active_rolling_3_day_growth_rate
4602  2020-03-29  ...                         0.197855
3811  2020-03-19  ...                              NaN
6458  2020-03-20  ...                         0.250967
4626  2020-03-31  ...                         0.000000
4501  2020-03-31  ...                         0.061217

[5 rows x 14 columns]

In [0]:
# data types
globa_view.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7423 entries, 0 to 7422
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              7423 non-null   object
 1   country                           7423 non-null   object
 2   lat                               7423 non-null   float64
 3   long                              7423 non-null   float64
 4   confirmed                         7423 non-null   int64
 5   deaths                            7423 non-null   int64
 6   recovered                         7423 non-null   int64
 7   active                            7423 non-null   int64
 8   confirmed_daily                   7238 non-null   float64
 9   deaths_daily                      7238 non-null   float64
 10  recovered_daily                   7238 non-null   float64
 11  daily_change_in_active_cases      7238 non-null   float64
 12  active_dailiy_growth_rate         7038 non-null   float64
 13  active_rolling_3_day_growth_rate  6668 non-null   float64
dtypes: float64(8), int64(4), object(2)
memory usage: 812.0+ KB

## **CasesLocalView**

## **CounterMeasureView**

# **Data Cleanig**


*   Set the DATATYPES to reduce memory usage
*   Create pipeline To clean the Data
*   Pass all the data Stream through the pipeline

# **Visualizations**